@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
/* Common */
.Products-ParentDiv,.features-ChildDiv{
margin-top: 3.5rem;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* Features */
.features-ChildDiv {
  
  width: 100%;
  height: 100vh max-content;
  min-height: 100vh;
}


.dropdown-menu {
  width: 100%;
  text-align: center;
}

.btn-secondary {
  color: #fff;
  background-color: #0083f5;
  border-color: #6c757d;
  width: 100%;
}
/* Features Content */
.features-content{
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.features__content2{
  width: 35%;
}
/* @media screen and (max-width:390px) {
  .features__content2{
    width: 100%;
  }
  
} */
@media screen and (max-width : 1200px){
  .features__content2{
    width: 75%;
  }
}

.list-group-item{
  text-align: center;
}

/* Products */
.Products-ChildDiv{
  margin-top: 2rem;
}
.row{
  justify-content: space-between;
}
.title p{
  font-weight: 500;
  font-size: medium;
}

/* TestDrive */
.testdrive_ParentDiv{
  margin-top: 3.5rem;
}